{% extends 'AppAdminBundle:Layout:admin.html.twig' %}

{% block body %}
   <div class="col-lg-12">
         <section class="panel">
             <header class="panel-heading">
                 Édition d'un média 
             </header>
            <div class="panel-body">

                <div class="form-group">
                    <label class="col-sm-2 control-label">Format de croping</label>
                    <select id="format_crop" name="format_crop" class="form-control m-bot15">
                        {% for format in formats %}
                            <option value="{{ format.slug }}">{{format.name}} ({{format.width}} x {{format.height}}px)</option>
                        {% endfor %}
                        <option value="{{ thumb_slug }}">{{ thumb_name }} ({{thumb_width}} x {{thumb_height}}px)</option>
                    </select>
                </div>

                <img width="{{ iImageWith }}" src="{{ media_dir }}{{ asset( media_path ~ entity.path ) }}" id="target" /><br>
                <a id="btn-to-sub" class="btn btn-success" onclick="crop();">Cropper votre image</a>
            </div>
         </section>
    </div>

    <div class="col-lg-12">
       <section id="formats" class="panel">
            <header class="panel-heading">
                Images cropées
            </header>
            <div id="container" class="panel-body">
               <ul class="grid cs-style-3">
                   <table class="table table-striped table-hover table-bordered" id="medias-table">
                       <thead>
                       <tr>
                           <th>slug</th>
                           <th>Largeur</th>
                           <th>Hauteur</th>
                           <th>Visuel</th>
                       </tr>
                       </thead>
                       <tbody>
               {% for format in formats %}
                   <tr>
                       <td>{{ format.slug }}</td>
                       <td>{{ format.width }}px</td>
                       <td>{{ format.height }}px</td>
                       <td><img src="{{ media_dir }}{{ asset(media_path ~ format.slug ~ '/'~ entity.path ) }}" /></td>
                   </tr>
               {% endfor %}
                   <tr>
                       <td>{{ thumb_slug }}</td>
                       <td>{{ thumb_width }}px</td>
                       <td>{{ thumb_height }}px</td>
                       <td><img src="{{ media_dir }}{{ asset(media_path ~ thumb_slug ~ '/'~ entity.path ) }}" /></td>
                   </tr>

                       </tbody>
                   </table>
               </ul>
            </div>
         </section>
   </div>

{% endblock %}

{% block javascripts %} 
   {{ parent() }}
   
   <script language="Javascript">

    var cropTab = [];
    cropTab['thumb_width'] = {{ thumb_width }};
    cropTab['thumb_height'] = {{ thumb_height }};
    cropTab['thumb_quality'] = {{ thumb_quality }};
    cropTab['thumb_ratio'] = {{ thumb_ratio }};

    {% for format in formats %}
        cropTab['{{format.slug}}_width'] = {{ format.width }};
        cropTab['{{format.slug}}_height'] = {{ format.height }};
        cropTab['{{format.slug}}_quality'] = {{ format.quality }};
        cropTab['{{format.slug}}_ratio'] = {{ format.width / format.height}};
    {% endfor %}
       
    var x    = 0;
    var y    = 0;
    var x2   = 0;
    var y2   = 0;
    var w    = 0;
    var h    = 0;
    var slug = "";
    {% if formats is empty %}
        var w_new = cropTab['thumb_width'];
        var h_new = cropTab['thumb_height'];
        var quality = cropTab['thumb_quality'];
    {% else %}
        var w_new = cropTab['{{formats.0.slug}}_width'];
        var h_new = cropTab['{{formats.0.slug}}_height'];
        var quality = cropTab['{{formats.0.slug}}_quality'];
    {% endif %}

    function changeCoords(c)
    {
        x  = c.x * {{ dCoeffCrop }};
        y  = c.y * {{ dCoeffCrop }};
        x2 = c.x2 * {{ dCoeffCrop }};
        y2 = c.y2 * {{ dCoeffCrop }};
        w  = c.w * {{ dCoeffCrop }};
        h  = c.h * {{ dCoeffCrop }};
    }
  
    function crop()
    {
        $parameters = {};
        $parameters.x = x;
        $parameters.y = y;
        $parameters.w = w;
        $parameters.h = h;
        $parameters.w_new = w_new;
        $parameters.h_new = h_new;
        $parameters.slug = $("#format_crop option:selected").val();
        $parameters.extension = '{{ entity.extension }}';
        $parameters.path = '{{ entity.path }}';
        $parameters.quality = 100;

        $.post("{{path('media_crop')}}", {'parameters' : $parameters}).done(function(){
            window.location.href = "{{ path('media_edit', {'id': entity.id}) }}";
        });
   }

    {% if formats is empty %}
        $('#target').Jcrop({
            onSelect: changeCoords,
            animateTo: [ 0,0,cropTab['thumb_width'],cropTab['thumb_height'] ],
            aspectRatio:  cropTab['thumb_ratio']
        },function(){
            jcrop_api = this;
        });
    {% else %}
        $('#target').Jcrop({
            onSelect: changeCoords,
            animateTo: [ 0,0,{{ formats.0.width}},{{ formats.0.height}} ],
            aspectRatio:  cropTab['{{formats.0.slug}}_ratio']
        },function(){
            jcrop_api = this;
        });
    {% endif %}

    $("#format_crop").on('change', function(){
         var name = $("#format_crop option:selected").val();
         $("#img_width").val(cropTab[name + "_width"]);
        w_new = cropTab[name + "_width"];
         $("#img_height").val(cropTab[name + "_height"]);
        h_new = cropTab[name + "_height"];
         $("#img_quality").val(cropTab[name + "_quality"]);
        quality = cropTab[name + "_quality"];
         $("#img_name").val(name);
         jcrop_api.setOptions({
          aspectRatio: cropTab[name + "_ratio"]
         });
    });
     
   </script>
  {% endblock %}