{% extends 'AppAdminBundle:Layout:admin.html.twig' %}
{% form_theme form 'AppAdminBundle:Form:fields.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-lg-4">
            <section class="panel">
                <header class="panel-heading" style="background: #35998f;color: #FFF;">
                    Tous les messages
                </header>
                <div class="panel-body">
                    <div class="timeline-messages">
                        {% for message in messages %}
                            <!-- Comment -->
                            <div class="msg-time-chat">
                                <div class="message-body msg-in">
                                    <span class="arrow"></span>
                                    <div id="{{ message.id }}" class="text list {% if loop.first %}active{% endif %}">
                                        <p class="attribution"><a href="#">{{ message.user.email }}</a> le {{ message.createdAt | date('d/m/Y') }}  à {{ message.createdAt | date('H:i') }}</p>
                                        <p>{{ message.content | truncateHtml(100) | raw}}</p>
                                    </div>
                                </div>
                            </div>
                            <!-- /comment -->
                        {% endfor %}
                    </div>
                </div>


            </section>
        </div>

        <div class="col-lg-8">
            <section class="panel">
                <header class="panel-heading" style="background: #41cac0;color: #FFF;">
                    Message courant
                </header>
                <div class="panel-body">
                    <div id="spinner" class="message-full">
                        <!-- Comment -->
                        <div class="msg-time-chat">
                            <div class="message-body msg-in">
                                <span class="arrow"></span>
                                <div class="text">
                                    <p class="attribution"><a href="#">{{ messages[0].user.email }}</a> le {{ messages[0].createdAt | date('d/m/Y') }}  à {{ messages[0].createdAt | date('H:i') }}</p>
                                    <p>{{ messages[0].content | raw}}</p>
                                </div>
                            </div>
                        </div>
                        <!-- /comment -->
                    </div>
                </div>
            </section>

            <section class="panel">
                <header class="panel-heading">
                    Répondre
                </header>
                {{ form(form) }}
            </section>

        </div>

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/appadmin/js/spin.min.js') }}" ></script>
    <script>

        var opts = {
            lines: 11, // The number of lines to draw
            length: 3, // The length of each line
            width: 3, // The line thickness
            radius: 6, // The radius of the inner circle
            corners: 1, // Corner roundness (0..1)
            rotate: 12, // The rotation offset
            direction: 1, // 1: clockwise, -1: counterclockwise
            color: '#FFF', // #rgb or #rrggbb or array of colors
            speed: 1, // Rounds per second
            trail: 74, // Afterglow percentage
            shadow: false, // Whether to render a shadow
            hwaccel: false, // Whether to use hardware acceleration
            className: 'spinner', // The CSS class to assign to the spinner
            zIndex: 2e9, // The z-index (defaults to 2000000000)
            top: '4%', // Top position relative to parent
            left: '25%' // Left position relative to parent
        };

        $('.timeline-messages').find('.list').each(function() {
            $(this).on('click', function(e) {
                $('.message-full').html('');
                var target = document.getElementById('spinner');
                var spinner = new Spinner(opts).spin(target);

                e.preventDefault();
                data = {};
                data.id = $(this).attr('id');
                $.post('{{ path('get_message_ajax') }}', data , function (resp) {
                    $('.message-full').html('<div class="msg-time-chat"><div class="message-body msg-in"><span class="arrow"></span><div class="text"><p class="attribution"><a href="#">' + resp.email + '</a> ' + resp.created_at + '</p><p>' + resp.content + '</p></div></div></div>');
                    removeActive();
                    $(target).data('spinner', spinner);
                    $('#spinner').data('spinner').stop();
                });
                $(this).addClass('active');
            });
        });

        function removeActive() {
            $('.timeline-messages').find('.list').each(function() {
                $(this).removeClass('active');
            });
        }

    </script>
{% endblock %}